@font-face {
  font-family: 'NanumGothic';
  font-weight: normal;
  src: url("./fonts/NanumGothic.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumGothicBold';
  font-weight: normal;
  src: url("./fonts/NanumGothicBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumGothicExtraBold';
  font-weight: normal;
  src: url("./fonts/NanumGothicExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumGothicLight';
  font-weight: normal;
  src: url("./fonts/NanumGothicLight.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'NanumGothicLight';
  font-family: 'NanumGothic';
  font-family: 'NanumGothicBold';
  font-family: 'NanumGothicExtraBold';
}


